.container {
  padding: 0 15px;
  max-width: 1080px;
  margin: 0 auto;
}

.title {
  font-family: Playfair Display;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.btn {
  font-family: Montserrat;
  background-color: #998431;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  border: none;
}

@media (max-width: 992px) {
  .title {
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 24px;
  }
}
.welcome {
  background-image: url(/img/bgc.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 0 0;
  height: 840px;
}

.header {
  margin-bottom: 580px;
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #fff;
}

.header__menu {
  display: flex;
  color: #fff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.header__item {
  width: 277px;
  text-align: center;
  border-right: 1px solid #fff;
}
.header__item:last-child {
  border: none;
}

.header__link {
  display: block;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
}
.header__link:hover {
  color: #99862A;
  transition: 0.2s ease-in;
}

.welcome__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
}

.welcome__btn {
  padding: 15px 30px;
}

@media (max-width: 576px) {
  .welcome {
    padding: 30px 0 0 0;
    height: 500px;
  }

  .header {
    margin-bottom: 75px;
  }

  .header__contacts {
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    row-gap: 20px;
  }

  .header__menu {
    flex-direction: column;
    max-width: 75%;
    margin: 0 auto;
  }

  .header__item {
    width: auto;
    border-right: none;
    border-bottom: 1px solid #fff;
  }
  .header__item:last-child {
    border: none;
  }

  .welcome__btn {
    width: 200px;
    padding: 10px 20px;
  }
}
.description {
  padding: 100px 0;
  background-color: #282828;
}

.description__wrapper {
  padding: 60px 187px;
  border: 3px solid #C4C4C4;
  text-align: center;
}

.description__title {
  text-align: center;
  color: #fff;
}

.description__decoration-line {
  width: 160px;
  height: 1px;
  margin: 40px auto;
  background-color: #fff;
}

.description__text {
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 50px;
}

@media (max-width: 992px) {
  .description {
    padding: 50px 0;
  }

  .description__wrapper {
    padding: 50px 100px;
  }
}
@media (max-width: 576px) {
  .description {
    padding: 25px 0;
  }

  .description__wrapper {
    padding: 25px 25px;
  }
}
.collection {
  padding: 80px 0;
  background-color: #E6E3C4;
}

.collection__decoration-line {
  max-width: 1110px;
  height: 1px;
  background-color: #998431;
  margin: 0 auto;
}

.collection__wrapper {
  display: flex;
  padding: 60px 0;
}

.collection__upper-title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.collection__title {
  max-width: 300px;
  margin: 30px 0;
}

.collection__title-bottom-line {
  width: 160px;
  height: 1px;
  background-color: #282828;
  margin-bottom: 30px;
}

.collection__text {
  max-width: 445px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

.collection-wines {
  max-width: 445px;
  margin-bottom: 30px;
}

.collection-wines__section {
  display: flex;
  border-bottom: 1px solid #282828;
}
.collection-wines__section:last-child {
  border: none;
}

.collection-wines__year {
  display: inline-block;
  padding: 25px;
  border-right: 1px solid #282828;
}

.collection-wines__info {
  padding-left: 30px;
}

.collection-wines__name {
  margin-top: 10px;
  margin-bottom: 8px;
  font-size: 17px;
  color: #282828;
}

.collection-wines__description {
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 150%;
  color: #282828;
}

.collection__btn {
  padding: 15px 30px;
}

.collection__right-block {
  margin-left: 125px;
}

.collection__img-1 {
  max-width: 540px;
  height: 500px;
}

.collection__images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .collection__text {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .collection__right-block {
    display: none;
  }
}
@media (max-width: 992px) {
  .collection {
    padding: 40px 0;
  }

  .collection__wrapper {
    padding: 30px 0;
  }
}
@media (max-width: 576px) {
  .collection__btn {
    display: flex;
    margin: 0 auto;
  }
}
.testing {
  background-color: #282828;
  padding: 130px 0 100px 0;
}

.testing__wrapper {
  position: relative;
  border: 3px solid #c4c4c4;
  max-width: 1080px;
  padding: 0 15px;
  margin: 0 auto;
  padding-bottom: 100px;
}
.testing__wrapper::before {
  content: "";
  top: -60px;
  left: -30px;
  position: absolute;
  width: 260px;
  height: 260px;
  background-image: url(/img/grape.png);
  z-index: 1000;
}
.testing__wrapper::after {
  content: "";
  background-image: url(/img/tub.png);
  position: absolute;
  width: 260px;
  height: 200px;
  right: -60px;
  top: -60px;
}

.testing__description {
  max-width: 540px;
  margin: 0 auto;
}

.testing__title {
  max-width: 490px;
  position: absolute;
  top: -30px;
  left: 28%;
  right: 28%;
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 52px;
  background-color: #282828;
}

.testing__decoration-line {
  width: 118px;
  height: 1px;
  background-color: #fff;
  margin: 60px auto 40px auto;
}

.testing__text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  margin-bottom: 80px;
}

.testing__form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.testing__input {
  width: 255px;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  padding-bottom: 10px;
}
.testing__input::placeholder {
  display: block;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.testing__input--address {
  width: 100%;
  margin: 50px 0;
}

.testing__btn {
  width: 100%;
  padding: 15px 0;
  background-color: inherit;
  border: 1px solid #fff;
  transition: 0.2s ease-in;
}
.testing__btn:hover {
  border: 1px solid #998431;
  background-color: #998431;
  transition: 0.2s ease-in;
}

@media (max-width: 1200px) {
  .testing__wrapper {
    max-width: 1110px;
    margin: 0 auto;
    padding-bottom: 100px;
  }
  .testing__wrapper::before {
    display: none;
    width: 0px;
    height: 0px;
  }
  .testing__wrapper::after {
    display: none;
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 768px) {
  .testing {
    background-color: #282828;
    padding: 60px 0 50px 0;
  }

  .testing__wrapper {
    padding-bottom: 50px;
  }

  .testing__form {
    flex-direction: column;
    row-gap: 40px;
  }

  .testing__title {
    top: -50px;
    font-size: 30px;
    line-height: 45px;
  }

  .testing__text {
    margin-bottom: 40px;
  }

  .testing__input {
    width: auto;
  }

  .testing__input--address {
    margin: 0;
  }
}
@media (max-width: 576px) {
  .testing__title {
    top: -35px;
    font-size: 22px;
    line-height: 33px;
  }
}
.footer {
  padding: 50px 0;
  background-color: #998431;
}

.footer__menu {
  display: flex;
  justify-content: center;
  column-gap: 60px;
  padding: 20px 0px;
  border-top: 1px solid #fff;
}

.footer__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  text-decoration: none;
}
.footer__item:hover {
  color: #000;
  transition: 0.2s ease-in;
}

.footer__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.footer__section {
  padding: 20px 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-right: 1px solid #fff;
}
.footer__section:last-child {
  border: none;
}

.footer__socials {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  align-items: center;
}

@media (max-width: 1200px) {
  .footer__menu {
    column-gap: 40px;
  }

  .footer__section {
    padding: 20px 40px;
  }
}
@media (max-width: 992px) {
  .footer__menu {
    column-gap: 20px;
  }

  .footer__section {
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .footer__menu {
    flex-direction: column;
    text-align: center;
    row-gap: 30px;
    padding-bottom: 50px;
  }

  .footer__menu li {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  .footer__info {
    flex-direction: column;
    align-content: center;
  }

  .footer__section {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    width: 75%;
    margin: 0 auto;
  }

  .footer__socials {
    justify-content: center;
  }
}