.description {
    padding: 100px 0;
    background-color: #282828;
}
.description__wrapper {
    padding: 60px 187px;
    border: 3px solid #C4C4C4;
    text-align: center;
}
.description__title {
    text-align: center;
    color: #fff;
}
.description__decoration-line {
    width: 160px;
    height: 1px;
    margin: 40px auto;
    background-color: #fff;
}
.description__text {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 50px;
}
@media (max-width: 992px) {
    .description {
        padding: 50px 0;
    }
    .description__wrapper {
        padding: 50px 100px;
    }
}
@media (max-width: 576px) {
    .description {
        padding: 25px 0;
    }
    .description__wrapper {
        padding: 25px 25px;
    }
}