.footer {
    padding: 50px 0;
    background-color: #998431;
}

.footer__menu {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    padding: 20px 0px;
    border-top: 1px solid #fff;
}
.footer__item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #fff;
    text-decoration: none;

    &:hover{
        color: #000;
        transition: 0.2s ease-in;
    }
}
.footer__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.footer__section {
    padding: 20px 60px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    border-right: 1px solid #fff;

    &:last-child{
        border: none;
    }
}
.footer__socials {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    align-items: center;
}
@media (max-width: 1200px) {
    .footer__menu {
        column-gap: 40px;
    }
    .footer__section {
        padding: 20px 40px;
    }
}
@media (max-width: 992px) {
    .footer__menu {
        column-gap: 20px;
    }
    .footer__section {
        padding: 20px;
    }
}
@media (max-width: 768px) {
    .footer__menu {
        flex-direction: column;
        text-align: center;
        row-gap: 30px;
        padding-bottom: 50px;
    }
    .footer__menu li{
        border-bottom: 1px solid #fff;
        padding-bottom: 30px;
        width: 75%;
        display: block;
        margin: 0 auto;
    }
    .footer__info{
        flex-direction: column;
        align-content: center;
    }
    .footer__section {
        padding: 20px;
        border: none;
        border-bottom: 1px solid #fff;
        width: 75%;
        margin: 0 auto;
    }
    .footer__socials{
        justify-content: center;
    }
}