.testing {
    background-color: #282828;
    padding: 130px 0 100px 0;
}
.testing__wrapper {
    position: relative;
    border: 3px solid #c4c4c4;
    max-width: 1080px;
    padding: 0 15px;
    margin: 0 auto;
    padding-bottom: 100px;

    &::before{
        content: "";
        top: -60px;
        left: -30px;
        position: absolute;
        width: 260px;
        height: 260px;
        background-image: url(/img/grape.png);
        z-index: 1000;
    }
    &::after{
        content: "";
        background-image: url(/img/tub.png);
        position: absolute;
        width: 260px;
        height: 200px;
        right: -60px;
        top: -60px;
    }
}
.testing__description{
    max-width: 540px;
    margin: 0 auto;
}
.testing__title {
    max-width: 490px;
    position: absolute;
    top: -30px;
    left: 28%;
    right: 28%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    line-height: 52px;
    background-color: #282828;
}
.testing__decoration-line {
    width: 118px;
    height: 1px;
    background-color: #fff;
    margin: 60px auto 40px auto;
}
.testing__text {
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 80px;
}
.testing__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testing__input{
    width: 255px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding-bottom: 10px;

    &::placeholder{
        display: block;
        color: #fff;
        font-family: "Montserrat", sans-serif;
    }
}
.testing__input--address{
    width: 100%;
    margin: 50px 0;
}
.testing__btn {
    width: 100%;
    padding: 15px 0;
    background-color: inherit;
    border: 1px solid #fff;
    transition: 0.2s ease-in;

    &:hover{
        border: 1px solid #998431;
        background-color: #998431;
        transition: 0.2s ease-in;
    }
}
@media (max-width: 1200px) {
    .testing__wrapper {
        max-width: 1110px;
        margin: 0 auto;
        padding-bottom: 100px;
    
        &::before{
            display: none;
            width: 0px;
            height: 0px;
        }
        &::after{
            display: none;
            width: 0px;
            height: 0px;
        }
    }
}
@media (max-width: 768px) {
    .testing {
        background-color: #282828;
        padding: 60px 0 50px 0;
    }
    .testing__wrapper{
        padding-bottom: 50px;
    }
    .testing__form {
        flex-direction: column;
        row-gap: 40px;
    }
    .testing__title {
        top: -50px;
        font-size: 30px;
        line-height: 45px;
    }
    .testing__text{
        margin-bottom: 40px;
    }
    .testing__input{
        width: auto;
    }
    .testing__input--address {
        margin: 0;
    }
}
@media (max-width: 576px) {
    .testing__title {
        top: -35px;
        font-size: 22px;
        line-height: 33px;
    }
}